:host {
  display: block;
}

.maestros-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 767px) {
  #cargo-nuevo {
    width: 100%;
    justify-content: center;
  }
}
